html {
    background-image: url(../img/background/bg.png);
    background-position: left 50% top 4em;
    background-size: 25%;
    background-repeat: no-repeat;
    background-color: #2f2e2c;
}

@font-face {
    font-family: "San Francisco Regular";
    src: url("SF Pro Display Regular.otf") format("otf");
}

@font-face {
    font-family: "San Francisco Bold";
    src: url("/fonts/SF Pro Display Bold.otf") format("otf");
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
    font-family: "San Francisco Regular", Arial, Helvetica, sans-serif;
}

.flabbyBold {
    font-family: "San Francisco Bold", Arial, Helvetica, sans-serif;
}

.desktopLeft {
    margin-left: 2em;
    margin-top: 1em;
}

.desktopRight {
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.desktopIcon {
    background-color: #2f2e2c;
    border-style: hidden;
    margin: 5%;
    padding: 5%;
}

.desktopIcon:hover {
    background-color: #4c566a;
    border-radius: 5px;
}