html {
    background-image: url(../img/background/bg.png);
    background-position: left 50% top 4em;
    background-size: 25%;
    background-repeat: no-repeat;
    background-color: #2f2e2c;
    overflow-y: auto;
}

@font-face {
    font-family: "San Francisco Regular";
    src: url("SF Pro Display Regular.otf") format("otf");
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
    font-family: "San Francisco Regular", Arial, Helvetica, sans-serif;
    color: #d8dee9 !important;
    
}

ul {
    list-style-type: none !important;
  }

.desktopLeft {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
}

.desktopRight {
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.desktopIcon {
    background-color: rgba(0, 0, 0, 0);
    border-style: hidden;
    padding: 1em;
}

.desktopIcon:hover {
    background-color: #4c566a;
    border-radius: 5px;
}

.windowMenu_bg {
	background-color: #2a2f3a;
}