.nord-bgcolor-night-1 {
    background-color: #2e3440;
}

.nord-bgcolor-night-2 {
    background-color: #3b4252;
} 

.nord-bgcolor-night-3 {
    background-color: #434c5e;
} 

.nord-bgcolor-night-4 {
    background-color: #4c566a;
} 

.nord-bgcolor-storm-1 {
    background-color: #d8dee9;
} 

.nord-bgcolor-storm-2 {
    background-color: #e5e9f0;
} 

.nord-bgcolor-storm-3 {
    background-color: #eceff4;
} 

.nord-bgcolor-frost-1 {
    background-color: #8fbcbb;
} 

.nord-bgcolor-frost-2 {
    background-color: #88c0d0;
}

.nord-bgcolor-frost-3 {
    background-color: #81a1c1;
} 

.nord-bgcolor-frost-4 {
    background-color: #5e81ac;
}

.nord-bgcolor-aurora-1 {
    background-color: #bf616a;
}

.nord-bgcolor-aurora-2 {
    background-color: #d08770;
}  

.nord-bgcolor-aurora-3 {
    background-color: #ebcb8b;
}  

.nord-bgcolor-aurora-4 {
    background-color: #a3be8c;
}  

.nord-bgcolor-aurora-5 {
    background-color: #b48ead;
}        

.nord-color-night-1 {
    color: #2e3440;
}

.nord-color-night-2 {
    color: #3b4252;
} 

.nord-color-night-3 {
    color: #434c5e;
} 

.nord-color-night-4 {
    color: #4c566a;
} 

.nord-color-storm-1 {
    color: #d8dee9;
} 

.nord-color-storm-2 {
    color: #e5e9f0;
} 

.nord-color-storm-3 {
    color: #eceff4;
} 

.nord-color-frost-1 {
    color: #8fbcbb;
} 

.nord-color-frost-2 {
    color: #88c0d0;
}

.nord-color-frost-3 {
    color: #81a1c1;
} 

.nord-color-frost-4 {
    color: #5e81ac;
}

.nord-color-aurora-1 {
    color: #bf616a;
}

.nord-color-aurora-2 {
    color: #d08770;
}  

.nord-color-aurora-3 {
    color: #ebcb8b;
}  

.nord-color-aurora-4 {
    color: #a3be8c;
}  

.nord-color-aurora-5 {
    color: #b48ead;
}        